.header-container {
  background-color: #f3f3f3;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #eeeeee
  }
}

.header-title {
  font-weight: bold;
  font-size: 1.1em;
}